@import '../../styles/core.scss';
@import '../../styles/global.scss';
.addComponentwrapper {
  h2 {
    margin-bottom: 15px;
  }
  .iconheader {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .iconwrapper {
      margin-right: 10px;
      background-color: $yellow;
    }
    h4 {
      margin: 0;
    }
  }
  .divider {
    margin-top: 20px;
    hr {
      margin-top: 5px;
    }
  }
}
.clearRowIcon {
  margin: 11px 0 0;
  display: inline-block;
  cursor: pointer;
}

.rightPanelContainer {
  font-family: $app-font-primary;
  font-weight: $normal-weight;
  line-height: 1.2rem;
  color: #0a2942;
  .topRow {
    align-items: center;
    .name {
      font-size: 18px;
      margin-left: 10px;
    }
    .button {
      background-color: #4ee5e1;
      border-radius: 4px;
      border: none;
      margin-left: 30px;
      height: 25px;

      > span {
        padding: 14px 10px;
      }
    }
  }
  .infoContainer {
    margin-top: 18px;

    > p {
      margin: 4px 0px 0px 0px;
      width: 100%;
    }

    .label {
      font-size: 16px;
    }
    .value {
      font-weight: 600;
      font-size: 16px;
    }
  }
  .buttonContainer {
    margin-top: 26px;
    .button {
      color: #0a2942;
    }
  }
  .content {
    font-size: 14px;
    color: #0a2942;
    word-break: break-word;
  }
  .requiredBlock {
    display: 'flex';
    align-items: 'center';
    .require {
      margin-left: 8px;
    }
  }
  .text {
    margin-left: 20px;
    font-weight: 600;
  }
  .ant-select-selection-overflow-item {
    white-space: nowrap;
    overflow: hidden;
    .ant-tag {
      background-color: $selection;
      border-radius: 15px;
      color: $black;
      margin: 1px;
    }
  }
}

.divider {
  border-top: 1px solid $inactive1;
}
.right_drawer {
  :global {
    .ant-checkbox-wrapper {
      span:last-child {
        font-weight: normal;
        font-size: 13px;
        color: $primary-dark;
      }
    }
    .ant-select-selection-overflow-item {
      white-space: nowrap;
      overflow: hidden;
      .ant-tag {
        background-color: $selection;
        border-radius: 15px;
        color: $black;
        margin: 1px;
      }
    }
    .ant-form-item-control-input input[disabled] {
      color: black;
    }
    .ant-form-item-control-input-content input[disabled] {
      color: black;
    }

    .toggle-slider {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 24px;
    }

    .toggle-slider input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: 0.2s;
      border-radius: 24px;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 40%;
    }

    input:checked + .slider {
      background-color: #2196f3;
    }

    input:checked + .slider:before {
      transform: translateX(26px);
    }
    .ant-drawer-header-close-only {
      position: absolute;
      right: 10px;
      padding: 16px 10px;
    }
    .assessmentCard,
    .iconwrapper {
      background-color: #00a0ff;
    }
    .basicCard,
    .iconwrapper {
      background-color: #eca140;
    }
    .cocurricularCard,
    .iconwrapper {
      background-color: #4ee5e1;
    }
    .competencyCard,
    .iconwrapper {
      background-color: #8494a0;
    }
    .courseCard,
    .iconwrapper {
      background-color: #996c48;
    }
    .credentialCard,
    .iconwrapper {
      background-color: #d3f8f7;
    }
    .extraCurricularCard,
    .iconwrapper {
      background-color: #e6eaec;
    }
    .jobCard,
    .iconwrapper {
      background-color: #ffffff;
    }
    .workExperienceCard,
    .iconwrapper {
      background-color: #17609a;
    }
    .ant-drawer-header-close-only button.ant-drawer-close {
      margin-right: 0;
      display: none;
    }
    .ant-form-item-control-input input[disabled] {
      color: black;
    }
    .ant-form-item-control-textarea textarea[disabled] {
      color: black;
    }
    .ant-tooltip-inner {
      color: black !important;
      background-color: #4ee5e1 !important;
    }
    .ant-form-item-control-input input[disabled] {
      color: black;
    }
    .ant-tooltip-inner {
      color: black !important;
      background-color: #4ee5e1 !important;
    }
  }
}
.iconwrapper {
  font-size: 19px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: max-content;
  padding: 7px;
  min-width: 40px;
  max-width: 40px;
}
.image {
  background-color: #00a0ff;
}
