.cardwrapper {
  margin-bottom: 15px;
  p {
    margin-bottom: 0;
    font: normal normal normal 12px/15px IBM Plex Sans;
    letter-spacing: 0px;
    color: #0a2942;
    opacity: 1;
  }
  h3 {
    font: normal normal bold 12px/15px IBM Plex Sans;
    letter-spacing: 0px;
    color: #0a2942;
    opacity: 1;
  }
  :global {
    .ant-card {
      margin-bottom: 15px;
    }
    .ant-card-body {
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 6px #00000029;
      border-radius: 6px;
      padding: 12px 12px 2px;
    }
  }
  .iconwrapper {
    background: #eee;
    font-size: 23px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    min-width: 50px;
    width: max-content;
  }
}
