// Default
$font-size: 14px;
$default-font-family: 'IBM Plex Sans', sans-serif;

// Responsive
$small-screen-max-width: 1279px;

// Font Weight
$normal: 400;
$medium: 500;
$bold: 700;

$button-radius: 4px;
$opacity: 0.51;

//color scheme
$primary: #0c3d64;
$primary-dark: #0a2942;
$gold: #996c48;
$gold-light: #c08756;
$gold-inactive: #f2d5c2;
$inactive1: #8494a0;
$inactive2: #f2d5c2;
$inactive3: #e6eaec;
$selection: #4ee5e1;
$selection-light: #6effff;
$sky-blue: #00a0ff;
$sky-blue-light: #d3f8f7;
$white-color: #ffffff;
$black: #000;
$gray-color: #0a29421a;
$light-browm: #ebe2da;
$orange: #f37422;
$secondary-color: #919194;
