@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700');

@font-face {
  font-family: 'IBM Plex Sans Regular';
  src: local('IBMPlexSans-Regular'),
    url('./assets/fonts/IBMPlexSans-Regular.ttf'), format('truetype');
  font-weight: 400;
}

/* @font-face {
  font-family: IBMPlexSans-Regular;
  src: url('../assets/fonts/IBMPlexSans-Regular.ttf');
}
@font-face {
  font-family: IBMPlexSans-Medium;
  src: url('../assets/fonts/IBMPlexSans-Medium.ttf');
}
@font-face {
  font-family: IBMPlexSans-SemiBold;
  src: url('../assets/fonts/IBMPlexSans-SemiBold.ttf');
}
@font-face {
  font-family: IBMPlexSans-Bold;
  src: url('../assets/fonts/IBMPlexSans-Bold.ttf');
} */

/* @font-face {
  font-family: 'IBMPlexSans-Regular';
  src: url('../assets/fonts/IBMPlexSans-Regular.ttf') format('truetype');
} */
