@font-face {
  font-family: IBMPlexSans-Regular;
  src: url('../assets/fonts/IBMPlexSans-Regular.ttf');
}
@font-face {
  font-family: IBMPlexSans-Medium;
  src: url('../assets/fonts/IBMPlexSans-Medium.ttf');
}
@font-face {
  font-family: IBMPlexSans-SemiBold;
  src: url('../assets/fonts/IBMPlexSans-SemiBold.ttf');
}
@font-face {
  font-family: IBMPlexSans-Bold;
  src: url('../assets/fonts/IBMPlexSans-Bold.ttf');
}
