@import './colors';

body {
  .ant-input,
  .ant-input-number-input,
  .ant-input-search input,
  .ant-picker-input input {
    border: 1px solid $inactive1;
    border-radius: 4px;
    min-height: 38px;
    outline: none !important;
    box-shadow: none !important;
    font-size: 14px;
    letter-spacing: 0px;
    color: $primary-dark;
    &::placeholder {
      color: $primary-dark;
      opacity: 1 !important;
    }
  }
  .ant-select {
    border: 1px solid $inactive1;
    border-radius: 6px;
    outline: none !important;
    box-shadow: none !important;
    font: normal normal normal 14px/18px IBM Plex Sans;
    letter-spacing: 0px;
    color: #0a2942;
    &::placeholder {
      color: #0a2942;
      opacity: 1 !important;
    }
  }
  .ant-card,
  .ant-form {
    font-size: 13px;
    color: $primary-dark;
  }
  .ant-input-search {
    &.grey {
      input.ant-input {
        color: #0a2942;
        background: #e6eaec 0% 0% no-repeat padding-box;
        border-radius: 6px;
        border: 0;
        font: normal normal normal 14px/18px IBM Plex Sans;
        letter-spacing: 0px;
        color: #0a2942;
        &::placeholder {
          color: #0a2942;
          opacity: 1 !important;
        }
      }
      .ant-input-search-button {
        border: 0;
        background: #e6eaec;
        border-radius: 0 6px 6px 0 !important;
        overflow: hidden;
      }
      .ant-input:first-child,
      .ant-input-group-addon:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  .ant-input-search .ant-input:hover,
  .ant-input-search .ant-input:focus {
    border-color: $inactive1;
  }
  .ant-btn {
    border-color: $primary;
    min-width: 50px;
  }
  .ant-input-search-button {
    height: 40px;
  }
  .ant-modal-close-icon {
    font-size: 13px;
  }
  .anticon svg {
    fill: black;
  }
  .ant-select-selection-placeholder,
  .ant-select-single.ant-select-open .ant-select-selection-item {
    // color: $inactive1 !important;
    color: $primary !important;
    opacity: 1 !important;
    line-height: 32px !important;
    display: block;
    padding-left: 18px !important;
  }

  .ant-input {
    padding-left: 8px;
    padding-right: 8px;
  }

  .ant-dropdown-menu {
    border-radius: 8px;
    box-shadow: 1px 1px 8px 2px rgba(158, 158, 158, 0.5);

    .ant-dropdown-menu-item:hover {
      color: $primary;
      background: rgba($primary, 0.15);
    }
  }

  .ant-modal-title {
    color: $primary;
  }

  .ant-message {
    padding-top: 81px;
  }

  .ant-picker-calendar {
    padding: 0 10px;
  }

  .ant-picker-calendar-header {
    justify-content: center;
  }

  .ant-form-item-explain {
    position: absolute;
    z-index: 3;
    border: 1px solid $gold;
    background-color: $gold;
    padding: 8px;
    box-shadow: 0 3px 6px -4px rgba($black, 0.12),
      0 6px 16px 0 rgba($black, 0.08), 0 9px 28px 8px rgba($black, 0.05);
    border-radius: 4px;
    top: 38px;

    & div {
      color: $gold;
      font-size: 10px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 20px;
      width: 6px;
      height: 6px;
      background-color: $gold;
      box-shadow: -3px 3px 7px rgba($black, 0.07);
      transform: translateY(6px) rotate(45deg);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      -ms-transform: translateY(-3px) rotate(45deg);
      transform: translateY(-3px) rotate(45deg);
      left: 20px;
      border: 3px solid #fff1f0;
      z-index: 2;
    }
  }

  .ant-alert-warning {
    background: #fff7f0;
    border: 1px solid $gold-light;
    padding-left: 16px;
    position: relative;
    height: 40px;

    .ant-alert-icon {
      position: relative;
      color: $gold-light;
      font-size: 24px;
      top: 0;
      left: 0;
    }

    .ant-alert-message {
      margin-left: 16px;
      vertical-align: text-bottom;
    }
  }

  .ant-steps {
    &.ant-steps-label-vertical .ant-steps-item-tail {
      padding: 3.5px 12px;
    }
    .ant-steps-item-title {
      font-size: 12px;
      white-space: nowrap;
    }
    .ant-steps-item-active
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title {
      font-weight: $bold;
      color: $primary;
    }
    .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-icon {
      background-color: $inactive1;
      border-color: $inactive1;
      color: $inactive1;
    }
    .ant-steps-item-wait
      > .ant-steps-item-container
      > .ant-steps-item-content
      > .ant-steps-item-title {
      color: $inactive1;
    }
  }

  .ant-legacy-form-explain {
    position: absolute;
    z-index: 3;
    border: 1px solid $gold;
    background-color: $gold;
    padding: 8px;
    box-shadow: 0 3px 6px -4px rgba($black, 0.12),
      0 6px 16px 0 rgba($black, 0.08), 0 9px 28px 8px rgba($black, 0.05);
    border-radius: 4px;
    top: 50px;
    color: $gold !important;

    & div {
      color: $gold;
    }

    &::before {
      position: absolute;
      top: -10px;
      left: 20px;
      width: 6px;
      height: 6px;
      background-color: $gold;
      box-shadow: -3px 3px 7px rgba($black, 0.07);
      transform: translateY(6px) rotate(45deg);
      content: '';
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      -ms-transform: translateY(-3px) rotate(45deg);
      transform: translateY(-3px) rotate(45deg);
      left: 20px;
      border: 3px solid #fff1f0;
      z-index: 3;
    }
  }

  .ant-tabs-bar {
    .ant-tabs-tab-prev-icon-target,
    .ant-tabs-tab-next-icon-target {
      font-size: 16px;
    }
  }

  .show-help-leave {
    display: none;
  }
  .ant-form-item-label {
    display: block;
    text-align: left;
    width: 100%;
  }
  label,
  .ant-form-item-label > label {
    font: normal normal bold 14px/18px IBM Plex Sans;
    letter-spacing: 0px;
    color: #0a2942;
  }
  .ant-select-arrow {
    // margin-top: -8px;
    font-size: 14px;
  }
  .ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector
    .ant-select-selection-search-input {
    // height: 40px;
  }
  .ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 38px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 6px;
    border: 0;
    padding: 5px;
  }
  .ant-select-multiple .ant-select-selection-placeholder {
    left: 0;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 38px;
    padding: 0;
    box-shadow: none !important;
    outline: none !important;
    border: 0 !important;
    border-radius: 6px !important;
  }
  .ant-input-search input.ant-input {
    border-right: 0;
  }
  .ant-select-selection-item {
    padding-left: 18px !important;
    font: normal normal normal 14px/18px IBM Plex Sans;
    letter-spacing: 0px;
    color: #0a2942;
    // line-height: 2.8 !important;
  }
  .ant-modal-body > h2 {
    margin-bottom: 30px;
  }
  .ant-row.ant-form-item {
    margin-bottom: 18px;
  }
  .ant-modal-mask {
    background: #0a2942 0% 0% no-repeat padding-box;
    opacity: 0.9;
  }
  .ant-modal-close-x {
    position: absolute;
    width: 20px;
    height: 19px;
    top: 20px;
    right: 20px;
    font-weight: bold;
    z-index: 10;
    padding: 0;
    color: #00000073;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background: 0 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.3s;
  }
  .ant-form-vertical .ant-form-item-label,
  .ant-col-24.ant-form-item-label,
  .ant-col-xl-24.ant-form-item-label {
    padding: 0 0 0px;
  }
  .ant-input-affix-wrapper {
    color: $primary-dark;
    border-radius: 6px;
    padding: 0 10px;
    border: 1px solid $inactive1;
  }
}
