@import '../../styles/core.scss';

.main {
  margin: 0px 0px 0px 0px;
  font-family: $app-font-primary;
  font-weight: $normal-weight;
  .heading,
  .subHeading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  .subHeading {
    font-size: 16px;
  }
  .content {
    line-height: 1.2rem;
    margin-top: 6px;
    color: #0a2942;
  }
  .marginTop {
    margin-top: 1rem;
  }
}
