@import '../../styles/core.scss';
@import '../../styles/global.scss';

@mixin buttonSpecification {
  height: 36px;
  margin: 0 10px;
  border-radius: 4px;
  font-weight: 600;
}

.saveButtonSpecification {
  width: 90px;
  border: 1px solid $selection;
  background-color: $selection;
  color: $primary-dark;
  @include buttonSpecification;
}

.approveButtonSpecification {
  @include buttonSpecification;
}

.publishButtonSpecification {
  border: none;
  @include buttonSpecification;
  color: $primary-dark;
}

.container {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200;
  height: 70px;
}

.productImgLayout {
  background: $primary-dark 0% 0% no-repeat padding-box;
  display: flex;
  padding: 0 5px 0 10px;
  & > img {
    width: 45px;
    height: 45px;
  }
}

@mixin displayFlex {
  display: flex;
  flex-direction: column;
}

.createNewContainer {
  @include displayFlex;
  padding: 0 5px 0 10px;
}

.titleContainer {
  @include displayFlex();
  margin-left: 20px;
}

.newPathway {
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-23)
    var(--unnamed-font-family-ibm-plex-sans);
  color: $selection;
  text-align: left;
  font: normal normal bold 18px/23px IBM Plex Sans;
}

.foundation {
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-18) var(--unnamed-font-family-ibm-plex-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  font: normal normal normal 14px/18px IBM Plex Sans;
  color: $selection;
}

.titleDescriptionContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  background: #edfcfc 0% 0% no-repeat padding-box;
  justify-content: space-between;
}

.title {
  /* UI Properties */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-18) / var(--unnamed-line-spacing-23)
    var(--unnamed-font-family-ibm-plex-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  font: normal normal bold 18px/23px IBM Plex Sans;
  color: $primary-dark;
}

.editPathway {
  /* UI Properties */
  text-decoration: var(--unnamed-decoration-underline);
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) /
    var(--unnamed-line-spacing-18) var(--unnamed-font-family-ibm-plex-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0a2942);
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 14px/18px IBM Plex Sans;
  letter-spacing: 0px;
  color: $primary-dark;
}

.helpContainer {
  display: flex;
  align-items: center;
  background-color: $primary-dark;
  justify-content: center;
}

.imgDimensions {
  width: 36px;
  height: 36px;
  color: $white-color;
}

.conflictComponent {
  display: flex;
  justify-content: space-between;
  background-color: $gray-back;
  align-items: center;
  padding: 10px;
}

.headerCenter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saveButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
}
