@import '../../styles/global.scss';

.drawerheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: $primary-dark;
  }
  span {
    text-align: center;
    font-size: 12px;
    color: $primary-dark;
  }
}
.drawercontroller {
  display: block;
  :global {
    .tabBar {
      border: 1px solid $inactive1;
      border-radius: $button-radius;
      color: $primary-dark;
      padding: 2px 8px;
      text-align: center;
      flex: 1 0;
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        background-color: $inactive-outline-btn;
        border: 1px solid $primary-dark;
        color: $primary-dark;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .active {
      background-color: $primary-dark;
      color: $white-color;
      border-radius: $button-radius;
      border: 1px solid $primary-dark;
      color: $white-color !important;
      padding: 5px 16px;
      &:hover {
        background-color: $primary !important;
      }
    }
  }
}
.cardwrapper {
  height: calc(100vh - 200px);
  overflow-y: auto;
  padding-right: 5px;
  :global {
    .ant-card-body {
      margin-bottom: 15px;
    }
    .ant-card-bordered {
      border: none;
    }
  }
}
