@import '../../styles/global.scss';

.drawerheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: $primary-dark;
  }
  span {
    text-align: center;
    font-size: 12px;
    color: $primary-dark;
  }
}
.drawercontroller {
  display: block;
  :global {
    .tabBar {
      border: 1px solid $inactive1;
      border-radius: $button-radius;
      color: $primary-dark;
      padding: 2px 8px;
      text-align: center;
      flex: 1 0;
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        background-color: $inactive-outline-btn;
        border: 1px solid $primary-dark;
        color: $primary-dark;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .active {
      background-color: $primary-dark;
      color: $white-color;
      border-radius: $button-radius;
      border: 1px solid $primary-dark;
      color: $white-color !important;
      padding: 5px 16px;
      &:hover {
        background-color: $primary !important;
      }
    }
  }
}
.cardwrapper {
  height: calc(100vh - 200px);
  overflow-y: auto;
  padding-right: 5px;
  :global {
    .ant-card-body {
      margin-bottom: 15px;
    }
    .ant-card-bordered {
      border: none;
    }
  }
}

.tooltipContent {
  // height: 120px;
  // width: 260px;
  background-color: rgb(246, 246, 246);
  display: flex;
  //align-items: center;
  flex-direction: column;
  //box-shadow: 6px 6px 10px #00000029;
  border-radius: 6px;
  padding: 10px;
}
.title {
  //margin-top: 10px;
  margin-left: 4px;
  //margin-right: 30px;
  font-weight: 900;
  font-size: 12px;
}

.content {
  margin-top: 0px;
  margin-left: 4px;
  margin-right: 10px;
}

.contentLink {
  margin-top: 0px;
  margin-left: 4px;
  margin-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.PreSelectComponents {
  background: $inactive4 0% 0% no-repeat padding-box;
  border-radius: 6px;
  padding: 10px;
}
