@import '../../styles/core.scss';

.tabs {
  display: flex;
  position: relative;
  margin: 15px 0;

  .tabBar {
    border: 1px solid $inactive1;
    border-radius: $button-radius;
    color: $primary-dark;
    padding: 2px 8px;
    text-align: center;
    flex: 1 0;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  .inkBar {
    position: absolute;
    bottom: 1px;
    left: 20px;
    z-index: 1;
    box-sizing: border-box;
    width: 100px;
    height: 3px;
    transform-origin: 0 0;
    transition: left 0.2s ease-in-out, width 0.2s ease-out 0.2s;
  }
}
.active {
  font-size: 14px;
  background-color: $primary-dark;
  color: $white-color !important;
  padding: 5px 16px;
}
:global {
  .customTabs:nth-last-child(2) {
    margin-right: 0px;
  }
}
