@import '../../styles/core.scss';
@import '../../styles/global.scss';

.selectOrganisationWrapper {
  display: flex;
}
.dropdown {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;

  > span {
    margin-right: 16px;
    font-weight: 600;
    font-size: 16px;
  }
}
:global {
  .ant-modal-footer {
    .ant-btn.ant-btn-primary {
      background-color: $primary-dark;
      width: 70px;
    }
  }
}
