@import '../../styles/core.scss';

.rightPanelContainer {
  font-family: $app-font-primary;
  font-weight: $normal-weight;
  line-height: 1.2rem;
  // width: 100%;
  color: #0a2942;
  margin-right: 15px;
  margin-left: 25px;
  .topRow {
    align-items: center;
    // justify-content: space-between;
    .name {
      font-size: 18px;
      width: 112px;
      margin-left: 20px;
    }
    .button {
      background-color: #4ee5e1;
      border-radius: 4px;
      border: none;
      margin-left: 30px;
      height: 25px;

      > span {
        padding: 14px 10px;
      }
    }
  }
  .infoContainer {
    margin-top: 18px;
    // margin-right: 18px;

    > p {
      margin: 4px 0px 0px 0px;
      width: 100%;
    }

    .label {
      font-size: 16px;
    }
    .value {
      font-weight: 600;
      font-size: 16px;
    }
  }
  .buttonContainer {
    margin-top: 26px;
    .button {
      color: #0a2942;
    }
  }
  .content {
    font-size: 18px;
    color: #0a2942;
    word-break: break-word;
  }
  .requiredBlock {
    display: 'flex';
    align-items: 'center';
    .require {
      margin-left: 8px;
    }
  }
  .text {
    margin-left: 20px;
    font-weight: 600;
  }
}

.divider {
  border-top: 1px solid $inactive1;
}
.right_drawer {
  :global {
    .ant-drawer-header-close-only {
      position: absolute;
      right: 10px;
      padding: 16px 10px;
    }

    .ant-drawer-header-close-only button.ant-drawer-close {
      margin-right: 0;
    }
  }
}
