@import '../styles/colors.scss';

.ant-form-item {
  margin-bottom: 16px;
}
.ant-form-item-label {
  font-weight: 700;
  text-align: left;
  label {
    color: $gray-color;
    white-space: break-spaces;
    text-transform: capitalize;
    min-height: 32px;
    height: auto;
  }
}
.ant-radio-wrapper {
  line-height: 2rem !important;
  white-space: break-spaces;
}
.ant-checkbox-wrapper {
  line-height: 2rem !important;
}
.ant-input-number {
  width: 100%;
}
.ant-dropdown {
  max-height: 248px !important;
  max-width: 230px;
  min-width: 150px;
}
.ant-dropdown-menu {
  max-height: 300px !important;
  max-width: 230px;
  min-width: 150px;
  overflow-y: auto !important;
}
.ant-dropdown-menu-item {
  white-space: break-spaces;
}
.ant-drawer-body {
  padding-top: 0.625rem;
}
.ant-drawer-title {
  color: $black;
  font-size: 20px;
  font-weight: 700;
}
.ant-input-group-addon {
  padding: 0 7px;
}
.ant-table-filter-dropdown {
  margin-top: -2px !important;
}
.ant-modal-wrap {
  z-index: 1001 !important;
}
