//color scheme
$primary-dark-color: #0a2942;
$primary3-color: #4ee5e1;
$secondary-color: #919194;
$brown-color: #996c48;
$primary-color: #00a0ff;
$blue-color: #0c3d64;
$dark-blue-color: #0a2942;
$secondary-color: #8494a0;
$gold-color: #996c48;
$gold-inactive-color: #f2d5c2;
$light-gold-color: #c08756;
$light-green-color: #d3f8f7;
$light-gray-color: #e6eaec;
$primary: #4ee5e1;
$primary-dark: #0a2942;
$inactive1: #8494a0;
$gold: #996c48;
$gold-light: #c08756;
$inactive2-color: #f2d5c2;
$inactive3: #e6eaec;
$selection: #4ee5e1;
$selection-light: #6effff;
$sky-blue: #00a0ff;
$sky-blue-light: #d3f8f7;
$white-color: #ffffff;
$black: #000;
$gray-color: #0a29421a;
$dark-gray-color: #0a2942;
$light-browm: #ebe2da;
