// Default
$font-size: 14px;
$default-font-family: 'IBM Plex Sans', sans-serif;

// Responsive
$small-screen-max-width: 1279px;

// Font Weight
$normal: 400;
$medium: 500;
$bold: 700;

$button-radius: 4px;
$opacity: 0.51;
