.centralPannel {
  :global {
    .ant-layout-sider {
      background-color: #9a9a9a !important;
      width: 396px !important;
      min-width: 396px !important;
      padding: 20px 20px;
    }

    .ant-layout-sider-collapsed {
      width: 198px !important;
      min-width: 198px !important;
      display: none;
    }

    .ant-layout-content {
      margin: 0 !important;
      padding: 0 !important;
    }

    .site-layout-background > span > svg {
      width: 25px !important;
      height: 25px !important;
      color: #000000;
    }
  }
}
