.centralPannel {
  .container {
    text-align: 'center';
    min-height: 100vh;
    height: auto;
    // div:nth-child(2n) {
    //   background-color: red;
    // }
    // div:nth-child(odd) {
    //   background-color: #f0f0f0;
    // }
  }

  :global {
    .ant-layout-sider {
      background-color: #ffffff !important;
      min-width: 278px !important;
      padding: 20px 20px;
      position: fixed;
      z-index: 9;
      box-shadow: 2px 0px #ced2d4;
    }

    .ant-layout-sider-collapsed {
      width: 198px !important;
      min-width: 198px !important;
      display: none;
      transition: fade 0.2s;
    }

    .ant-layout-content {
      padding: 0 !important;
    }
    .site-layout > div {
      padding: 0;
      width: fit-content;
      position: relative;
      top: 2px;
      z-index: 1;
      background-color: #ffffff;
      height: 0px;
      left: 3px;
      & > svg {
        color: #000000;
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 6px;
        padding: 7px 9px;
        font-size: 20px;
      }
    }
  }
  .leftPanelTrigger {
    background-color: #ffffff;
  }
}
