.addComponentwrapper {
  h2 {
    margin-bottom: 15px;
  }
  .iconheader {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .iconwrapper {
      margin-right: 10px;
    }
    h4 {
      margin: 0;
    }
  }
  .divider {
    margin-top: 20px;
    hr {
      margin-top: 5px;
    }
  }
}
