@import '../../styles/global.scss';
.addComponentwrapper {
  h2 {
    margin-bottom: 15px;
  }
  .iconheader {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .iconwrapper {
      margin-right: 10px;
      background-color: $yellow;
    }
    h4 {
      margin: 0;
    }
  }
  .divider {
    margin-top: 20px;
    hr {
      margin-top: 5px;
    }
  }
}
.clearRowIcon {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 20px;
  margin: 5px;
}
.helpText {
  font-size: 14px;
  color: #0a2942;
}
.ant-tooltip-inner {
  color: black !important;
  background-color: #4ee5e1 !important;
}
.ant-form-item-control-input input[disabled] {
  color: black;
}
