@import '../../styles/global.scss';
.addComponentwrapper {
  h2 {
    margin-bottom: 15px;
  }
  .iconheader {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .iconwrapper {
      margin-right: 10px;
      background-color: $yellow;
    }
    h4 {
      margin: 0;
    }
  }
  .divider {
    margin-top: 20px;
    hr {
      margin-top: 5px;
    }
  }
}
.clearRowIcon {
  margin: 11px 0 0;
  display: inline-block;
  cursor: pointer;
}
