@import '../../styles/colors.scss';
.message {
  border-radius: 4px;
}
.noLinkHeight {
  min-height: 81px;
}
.linkHeight {
  min-height: 105px;
}
.noTitleHeight {
  min-height: 56px;
}
.success {
  background-color: $white-color;
  border: 1px solid $selection;
}
.error {
  background-color: $white-color;
  border: 1px solid $red4;
}
.warning {
  background-color: $white-color;
  border: 1px solid $orange;
}
.warningIcon {
  color: $orange;
}
.notice {
  background-color: $white-color;
  border: 1px solid $yellow;
}
.noticeIcon {
  color: $yellow;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 24px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 16px;
  width: 352px;
}
.title {
  text-align: left;
  color: $black;
  font-size: 16px;
  font-weight: $medium;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 0;
}
.description {
  text-align: left;
  //max-height: 65px;
  width: 352px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 0;
  color: $secondary-color;
}
.buttonLink {
  height: 26px;
  padding: 0;
  text-align: left;
}
.close {
  cursor: pointer;
}
:global {
  .ant-message .ant-message-notice .ant-message-notice-content {
    background-color: transparent;
    box-shadow: none;
    width: 480px;
    padding: 0;
  }
}
